/* Panel */
.panel {
    display: inline-block;
    //opacity: 0.8;
    //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    // IE8 filter: alpha(opacity=80);
    // IE 5-7;
}
/* left sidebar */
.left {
    width: 307px;
    height: 100%;
    z-index: 2;
    background-color: #4A4A4A;
}
/* left sidebar toggle */
.leftToggle {
    z-index: 1;
    height: 100%;
    left: 307px;
    width: 0px;
    background-color: #858585;
    position: absolute;
    cursor: pointer;
}

.leftToggle img {
	top:50px;
	position: absolute;
}

/* HACK:*IE6/7 _IE6*/
html {
    *padding: 50px 0px 50px 0px;
}

.left {
    *height: 100%;
    *float: left;
    *top: 0px;
    position: absolute;
}

.hideleft {
    *padding-left: 0px;
}




.panel {
    *position: relative;
}

/* toggle point */

.navPoint {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width:20px;
}


/* search box */
#leftSearch {
    width: 247px;
    height: 100%;
    position: absolute;
}

/* icon dock holder */
#leftIcon {
    position: relative;
    overflow:hidden;
    width: 66px;
    height: 100%;
    left: 247px;
    background: #858585;
}

#bottom_fade {
	width: 100%;
	height: 50px;
	z-index: 99;
	position: absolute;
	bottom: 0px;
	background: -moz-linear-gradient(top, rgba(74,74,74,0) 0%, rgba(74,74,74,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,74,74,0)), color-stop(100%,rgba(74,74,74,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(74,74,74,0) 0%,rgba(74,74,74,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(74,74,74,0) 0%,rgba(74,74,74,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(74,74,74,0) 0%,rgba(74,74,74,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(74,74,74,0) 0%,rgba(74,74,74,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004a4a4a', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
	
	pointer-events:none;
	display:none;
}

#top_fade {
	width: 100%;
	height: 50px;
	z-index: 99;
	position: absolute;
	top: 0px;
	background: -moz-linear-gradient(top,  rgba(74,74,74,1) 0%, rgba(74,74,74,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,74,74,1)), color-stop(100%,rgba(74,74,74,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(74,74,74,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(74,74,74,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(74,74,74,1) 0%,rgba(74,74,74,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(74,74,74,1) 0%,rgba(74,74,74,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#004a4a4a',GradientType=0 ); /* IE6-9 */
	
	
	pointer-events:none;
	display:none;
}

.greenbutton {
	background-color: #99cc00;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-border-radius: 5px;
	border: none;
	padding: 10px 0;
	width: 47%;
	margin: 1%;
	color: #FFF;
	display: inline-block;
	margin-top: 4px;
	cursor:pointer;
	height: 34px;
}
.greenbutton:hover  {
    background-color:#80A24A;
}
.greybutton {
	background-color: #C4C4C4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-border-radius: 5px;
	border: none;
	padding: 10px 0;
	width: 47%;
	margin: 1%;
	color: #FFF;
	display: inline-block;
	margin-top: 4px;
	cursor:pointer;
	height: 34px;
}
.greybutton:hover  {
    background-color:#A4A4A4;
}
.leftColumn
{
    width:307px;
    position:relative;
    z-index:100;
}

#infoBar
{
	z-index:100;
	position:absolute;
	bottom:0;
	width: 240px;
	padding-left: 7px;
	padding-bottom: 7px;
	padding-top: 4px;
	color:#fff;
	background: #3d3d3d;
	border: none;
}

#infoBar a
{
	
	color:#fff;
	
}

#leftIcon .list{
	overflow:visible;
}
#leftIcon .viewport{
	
	height:410px;
}



.pLeft
{
	padding-left:307px;
}

.eplant-geneticElementListDialog .ui-dialog-titlebar {display:none}

.eplant-geneticElementListDialog {
	display: block;
	position: absolute; 
	padding: 0;
	content: attr(title);
	min-width: 120px;
	text-align: center;
	width: auto;
	height: auto;
	white-space: nowrap;
	top: -32px;
	background: rgba(255,255,255,1);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;    
	color: #000;
	font-size: .86em;
}
.eplant-geneticElementListDialog:before {
	position: absolute;
	display: block;
	content: "";  
	border-color: transparent transparent rgba(255,255,255,1) transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top: -16px;
	left:1em;
}
.displayTab
{
}
.fullTab
{
	display:none;
}
#add_tab {
	cursor: pointer;
	background-color: #DDDDDD;
	width:12px;
	height:14px;
	margin-top:3px;
	border-width: 10px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	display: block;
	padding: 6px;
	text-align: center;
}
.ui-widget-header {
	background: #FFF;
	border: none;
}
.progressBar {
	position:relative;
}
.progressLabel {
	position:absolute;
	top:4px;
	left:50%;
}
.ui-progressbar .ui-progressbar-value{
	margin: -1px;
	height: 100%;
	background:#99cc00;
}

.ui-widget-overlay {
	background: #333;
}

/* tabs close icon */
#tabs li .ui-icon-close {
	float: right;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}
/* button to add tab */

/* tabs holder */
div#tabs {
	/*position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 0px;
	overflow: hidden;*/
}
/* tabs content */
div#tabs div {
	
}
/* tab */
#tabs .tab {
	position: absolute;
	display: inline-block;
	padding: 0px;
	height: 100%;
	width:100%;
	float: left;
	z-index:0;
}
.ui-tabs
{
	padding:0;
	border-radius: 0px;
	border: 0 none;
}

#tabUl li{float: left; display: inline-block; position: relative;	border-top-width:0px;
	border-left-width:0px;
border-right-width:0px;}
#tabUl{position: absolute;padding-left: 2px; padding-bottom: 0px;border: 0px;width:100%}

.ui-tooltip {
	background: #77AA00;
	color: white;
	/* text-shadow: 0 -1px 0px black; */
	padding: 0;
	font-size: 12px;
	line-height: 10px;
	white-space: nowrap;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
	opacity: 1;
	border:none;
}
.ui-tooltip-content {
	position: relative;
	padding: 10px;
}
.ui-tooltip-content::after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
}
.right .ui-tooltip-content::after {
	top: 10px;
	left: -5px;
	border-color: transparent #77AA00;
	border-width: 5px 5px 5px 0;
}
.left .ui-tooltip-content::after {
	top: 10px;
	right: -5px;
	border-color: transparent #77AA00;
	border-width: 5px 0 5px 5px ;
}
.top .ui-tooltip-content::after {
	bottom: -5px;
	left: 72px;
	border-color: #77AA00 transparent;
	border-width: 5px 5px 0;    
}
.bottom .ui-tooltip-content::after {
	top: -5px;
	left: 72px;
	border-color: #77AA00 transparent;
	border-width: 0 5px 5px ;
}



/* Clearfix */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix {display:inline-block;} /*Those two .clearfix have to be separate!)*/
.clearfix {display:block;}

.hide
{
	display:none !important;
}

#iconTopArrow
{
	position:absolute;
	display:none;
	top:0;
	margin:0 auto;
	background: url("../img/topArrow.png") #858585 no-repeat center center;
	width:50px;
	height:60px;
	padding: 10px 5px;
	z-index:1;
}
#iconBottomArrow
{
	position:absolute;
	display:none;
	bottom:0;
	margin:0 auto;
	background: url("../img/bottomArrow.png") #858585 no-repeat center center;
	width:50px;
	height:60px;
	padding: 10px 5px;
	z-index:1;
}

#efpTooltip{
	margin:8px;
	padding:8px;
	border:1px solid #E3E3E3;
	background-color:#fff;
	position: absolute;
	z-index: 2;
	-webkit-box-shadow: 8px 8px 10px -5px rgba(153,153,153,1);
	-moz-box-shadow: 8px 8px 10px -5px rgba(153,153,153,1);
	box-shadow: 8px 8px 10px -5px rgba(153,153,153,1);
}

.meter { 
	float:left;
	height: 10px;  /* Can be anything */
	width:135px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 2px;
	margin: 3px;
	text-align: center;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter p{position:absolute;
	font-size:8px;
	text-align:center;
	top:0;
	margin:0 auto;
	color:#fff;
	left: 0px;
width: 100%;}
.meter > span {
	display: block;
	height: 100%;
	max-width:95%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	/*background-color: rgb(43,194,83);
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
		);
		background-image: -moz-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);*/
	background-color:#99cc00;
	/*-webkit-box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
		-moz-box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
		box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);*/
	position: relative;
	overflow: hidden;
}
.meter > span:after, .meterAnimate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: 
	-webkit-gradient(linear, 0 0, 100% 100%, 
	color-stop(.25, rgba(255, 255, 255, .2)), 
	color-stop(.25, transparent), color-stop(.5, transparent), 
	color-stop(.5, rgba(255, 255, 255, .2)), 
	color-stop(.75, rgba(255, 255, 255, .2)), 
	color-stop(.75, transparent), to(transparent)
	);
	background-image: 
	-moz-linear-gradient(
	-45deg, 
	rgba(255, 255, 255, .2) 25%, 
	transparent 25%, 
	transparent 50%, 
	rgba(255, 255, 255, .2) 50%, 
	rgba(255, 255, 255, .2) 75%, 
	transparent 75%, 
	transparent
	);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}

.meterAnimate > span:after {
	display: none;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

.orange > span {
	background-color: #f1a165;
	background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
	background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
}

.red > span {
	background-color: #f0a3a3;
	background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
	background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}

.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}


.paletteInput{
	width: 100px;
	border: 1px solid rgb(204, 204, 204);
	height: 33px;
	margin-left: 10px;
	padding: 0 20;
}

#cacheContainer{
	z-index:-1;
	visibility:hidden;
	pointer-events:none;
	left:100%;
}

.ui-menu .ui-menu-item:hover{
	background: #99cc00;
}

.ui-menu .ui-state-focus{
	background:none;
	border:none;
	text-decoration: initial;
}

.ui-dialog .ui-dialog-title {
	font-size: 24px;
	font-weight: normal;
}

.aui_loading{
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
}

.heatmapViewIcon{
	position: absolute;
	top: -10;
	left: 50%;
	margin-left: -10px;
	height: 20px;
	width: 20px;
	background: #ffffff;
}

.heatmapViewIconDiv{
	border: 2px solid #eee;
	height: 15px;
	border-bottom: none;
	margin: 0 5px;
	position: relative;
}

.heatmapGeneLoading{
	width: 100%;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 15px;
	position: relative;
}

.heatmapGeneLoading span{
	background: #fff;
	padding: 0 10px;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	font-size:16px;
}

/*dialog */

.aui_title {
    position: absolute;
    left: 0;
    top: 10;
    width: 100%;
    height: 22px;
    text-align: left;
    text-indent: 1.5em;
    font-size: 20;
}
.aui_header{
	height:30px;
	
}
.aui_buttons button {
    background: #99cc00;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 1%;
    color: #FFF;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
    height: 34px;
	text-shadow: none;
	letter-spacing:0;
	box-shadow: none;
}
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus {  }
.aui_buttons button:hover {    background:#80A24A;color:#fff;  }
.aui_buttons button:active { background:#80A24A;color:#fff; }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight {  }
button.aui_state_highlight:hover {     background:#80A24A;color:#fff; }
button.aui_state_highlight:active {     background:#80A24A;color:#fff;}